.card {
  width: 600px
  position: absolute;
  left: 600px;
  top: 200px;
}

.card .criar-conta {
  position:absolute;
  left: 225px;
  top: 300px;
}

.botoes-modal {
  margin-top: 100px;
}

.botoes-card {
  margin-top: 5px;
  padding: 3px;
}

.items:hover {
  background-color:black
  color:white !important
}

.dashboard-column-chart {
  margin-left: 20%
  position: absolute;
  top: 0
}

a:-webkit-any-link {
  text-decoration:none;
  color:gray
}

.q-list-header {
  font-size: 30px !important
  background-image: linear-gradient(to right, gray, black);
  color:white
}

.card-content {
  position:absolute;
  top: 50%;
  left: 45%
}

.q-card {
  width: 300px;
}

.footer-menu {
  margin-top: 10%
}

.list-header {
  font-height: 0px
}

.items {
  padding: 20px
  font-size: 20px
}

.menu {
  width: 15%;
  height: 100vh;
  background-color:lightgray;
}

.data-table-cliente {
  margin-left: 10%
  width: 88%;
  position:absolute;
  top: 30px;
}

.float-action-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 100;
  float: bottom;
}

