.card {
  margin-top: 50%
  width: 600px
}

.items:hover {
  background-color:black
  color:white !important
}

.dashboard-column-chart {
  margin-left: 20%
}

a:-webkit-any-link {
  text-decoration:none;
  color:gray
}

.q-list-header {
  font-size: 30px !important
  background-image: linear-gradient(to right, gray, black);
  color:white
}

.footer-menu {
  margin-top: 10%
}

.list-header {
  font-height: 0px
}

.items {
  padding: 20px
  font-size: 20px
}
